@import"variable.scss";
@media(max-width:$PC-4k){}
@media(max-width:$PC-UHD){}
@media(max-width:$PC){}
@media(max-width:$LaptopL){
    .container-header,.container__home{
        padding: 0 7.1% 0 7.1%;

    }
    .container__home_select{
        top: 557px;
        left:7.1%;
    }
}
@media(max-width:$Laptop){
    header{
        margin:15px 0 70px 0;
    }
    .container-header,.container__home {
        padding: 0 2.1% 0 2.1%;
    }
    .container__home_select{
        top: 457px;
        left:2.1%;
    }
}
@media(max-width:$Tablet){
    .container-header,.container__home{
        padding: 0 8.1% 0 8.1%;
    }
    .container__home_img{
        width: 60.2%;
    }
    .container-header__logo{
        width: 58%;
    }
    .container-header__menu #menu{
        display:none;
    }
    .container-header .burger{
        display:flex;
    }
    .container__home_select{
        top: 557px;
        left:8.1%;
    }
    .container__home_select .container-select__type ul li{
        padding: 10px 0 10px 0;
    }
    .container__home_select .container-select__location ul li{
        padding: 10px 0 10px 0;
    }
    .container__home_select .container-select__price ul li{
        padding: 10px 0 10px 0;
    }
    .container__home_select .container-select__location ,.container__home_select .container-select__type ,.container__home_select .container-select__price{
        padding:0;
    }
    .container__home_select .container-select{
    
        align-items: center;
        text-align: center;
    }
    .container__home_select .container-select .line {
        display:none;
    }
    .container__home_select .container-select button{
        margin:25px 10px 10px 20px;
    }
    .container__home_select .container-select__location_block{
        margin:0 auto;
    }
    .container__home_select .container-select {
        border-radius: 0 5px 5px 5px;
    }
}
@media(max-width:668px){
    .container__home_select .container-select{
        flex-direction: column;
    }
    .container__home_select{
        top: 487px;
        left:8.1%;
    }
    .container__home_select .container-select {
        border-radius: 0 0 5px 5px;
    }
}
@media(max-width:$MobileL){
    .container__home_img{
        display: none;
    }
    .container__home_txt{
        width: 100%;
        text-align: center;
    }
    .container__home_select{
        position: absolute;
        top: 400px;
        left:0;
        margin: 0 auto;
    }
}
@media(max-width:$MobileM){}
@media(max-width:$MobileS){}
@media(max-aspect-ratio:3/2){}